* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  max-width: 300px;
  height: 400px;
  border: 1px solid black;
}

@media screen and (min-width: 460px) {
  .container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    max-width: 400px;
    height: 540px;
    border: 1px solid black;
  }
}

.side {
  display: flex;
  width: 80px;
  height: 80px;
  border: 5px solid black;
  border-radius: 15px;
  padding: 5px;
}

@media screen and (min-width: 460px) {
  .side {
    width: 100px;
    height: 100px;
    border: 5px solid black;
    border-radius: 15px;
    padding: 10px;
  }
}

.wrap {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.round {
  width: 1px;
  height: 1px;
  border: 6px solid black;
  border-radius: 50%;
  background-color: black;
}

@media screen and (min-width: 460px) {
  .round {
    border: 8px solid black;
  }
}

.one {
  justify-content: center;
  align-items: center;
}

.two,
.three,
.four,
.five,
.six {
  justify-content: space-between;
}

.two .round:nth-child(2),
.three .round:nth-child(3) {
  align-self: flex-end;
}

.three .round:nth-child(2) {
  align-self: center;
}

.five .center {
  align-self: center;
}

.one {
  justify-content: center;
  align-items: center;
}

.two-wrap,
.four-wrap,
.six-wrap,
.five-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
