:root {
  --primary-color: #000000;
  --accent-color: #6243eb;
  --accent-color-hover: #4832a8;
  --wight-color: #ffffff;
  --border-color: rgba(33, 33, 33, 0.2);
  --border-acctiv-color: rgb(98, 67, 235, 0.5);

  --shadow-portfolio-card: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 700;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

main {
  padding-top: 100px;
}

.form {
  margin: 0 auto;
  max-width: 400px;
  padding-left: 5px;
  padding-right: 5px;
}

.form__container {
  border-radius: 5px;
  box-shadow: var(--shadow-portfolio-card);
  padding: 40px;
  margin-bottom: 30px;
}

.form__title {
  text-align: center;
  color: var(--accent-color);
  margin-bottom: 20px;
}

.form__appeal {
  display: inline-block;
  margin-bottom: 20px;

  font-size: 20px;
  font-weight: 700;
}

.form__button {
  display: block;
  border: none;
  margin-bottom: 20px;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
  cursor: pointer;

  font-weight: 700;
  background-color: var(--accent-color);
  color: var(--wight-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__button:hover,
.form__button:focus {
  background-color: var(--accent-color-hover);
}

.form__link {
  color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__link:hover,
.form__link:focus {
  color: var(--accent-color-hover);
}

.form__caption,
.form__link {
  display: inline-block;
}

.form__link--center {
  display: block;
  text-align: center;
}

.form__caption--bottom {
  margin-bottom: 5px;
}

.form__wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.form__field {
  display: block;
  width: 100%;
  height: 40px;
  cursor: pointer;

  border-radius: 4px;
  border: 1px solid var(--border-color);
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__field:hover,
.form__field:focus {
  border: 3px solid var(--border-acctiv-color);
}

.form__item {
  margin-bottom: 20px;
}

.form__text {
  text-align: center;
}

.form__checkbox-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.form__agreement {
  display: block;
  margin-left: 5px;
}

.form__checkbox {
  width: 18px;
  height: 18px;
  cursor: pointer;
}
